
a {
    text-decoration: none;
}

h2 {
    cursor: pointer;
    font-size: 15px;
    color: white; 
}

h2:hover {
    cursor: pointer;
    font-size: 15px;
    color: darkgrey; 
}

.des{
    cursor: pointer;
    font-size: 15px;
    color: darkgray; 

}

.project{
    align-items: center;
    display: grid; 
    margin-left: 25px;
    grid-template-columns: repeat(2, 0.5fr);
    column-gap: 5px; 
    padding-bottom: 20px;
}


img{
    border-radius: 15px;
}
