

h2 {
    cursor: pointer;
    transition: all .3s ease-in-out; 
    font-size: 15px;
    color: darkgray; 
}

.project{
    align-items: center;
    display: grid; 
    margin-left: 25px;
    grid-template-columns: repeat(2, 0.5fr);
    column-gap: 5px; 
}

img{
    border-radius: 15px;
}

img:hover{
    cursor: pointer; 
    border: 10px solid lightgray; 
}