ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: right;
    padding-right: 25px;
  }
  
  li:first-child {
    float: left; 
    margin-left: 25px; 
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px;
    text-decoration: none;
  }