.header h1 {
  margin-top:0;
  background-color: black;
}

.Page{
  clear: both; 
  background-color: black;
}

.nav{
  padding-bottom: 30px;
}

.seperator {
  width: 100%;
  border: none;
  height: 2px;
  margin-top: 0.5px;
  background-color: black;
}

.intro{
  margin-left: 25px;
  font-size: 30px;
  width : 50%; 
  color: white; 
  padding-bottom: 50px;
}